<!DOCTYPE html>
<html>
    <head>
        <title>Charts Fun</title>
        <!-- Materialize -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <!-- static -->
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper black">
                <a href="/" class="brand-logo">Charts Fun!</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/new">Add Data</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        <%- body%>
    </main>
    <footer>
    </footer>

    <!-- Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>