<h1>Add new data below</h1>

<form action="/" method="POST">
    <label for="">Name<input type="text" name="name"></label>
    <label for="">Answer<input type="text" name="answer"></label>
    <label for="">Survey Number<input type="number" name="survey"></label>
    <button class="btn" type="submit">SUBMIT</button>
</form>